.draggablesContainer {
  display: grid;
  margin: 1% auto;
  height: 100px;
  width: 500px;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
}

.draggable {
  text-align: center;
  /* margin: 10px; */
  overflow: hidden;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100px;
  width: 100px;
  background-color: #32cd32;
  border-radius: 100%;
}

.droppable {
  display: grid;
  margin: 1% auto;
  height: 100px;
  width: 500px;
  border-style: ridge;
  border-color: black;
  border-radius: 10px;
}

button {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}